@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scrollbar-gutter: stable;
  }
}

@layer base {
  /* Chrome/Safari */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.09) inset;
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.071) inset;
    -webkit-text-fill-color: #ffffff;
    caret-color: #ffffff;
    transition: background-color 9999s ease-out;
  }

  /* Firefox autofill */
  input:-moz-autofill,
  textarea:-moz-autofill,
  select:-moz-autofill {
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.15) inset;
    -moz-text-fill-color: #ffffff;
    caret-color: #ffffff;
  }

  .page-container {
    max-width: 1920px;
    margin: 0 auto;
    padding-inline: 32px;
  }
}
@keyframes modal-drop-bounce {
  0% {
    transform: translateY(-40vh) scale(0.5);
    opacity: 0;
  }
  60% {
    transform: translateY(0);
    opacity: 0.5;
  }
  75% {
    transform: translateY(-8px);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
