.submitBtn {
  background-color: #171717;
  border: #0c66ed 1px dotted;
  position: relative;
}

.submitBtn span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #0c66ed;
  border-radius: 50%;
  transition: 0.6s ease;
}

.submitBtn span:nth-child(6) {
  position: relative;
}

.submitBtn span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

.submitBtn span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

.submitBtn span:nth-child(3) {
  transform: translate(-0.2em, 1.8em);
}

.submitBtn span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

.submitBtn span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

.submitBtn:not(:disabled):hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}
